body
{
	border:1px solid red;
	width:600px;
	height:500px;
	/* let body automatically in middle */
	margin:0 auto;
}
img
{
	width:80px;
	height:80px;
	margin-top:10px;
	margin-left:10px;
}
.div1
{
	width:100px;
	height:100px;
	border:1px solid blue;
	margin-top:5px;
	margin-left:5px;
}