.div1
{
	width:70px;
	height:30px;
	background:pink;
	float:left;
	margin-left:5px;
}

#spe1
{
	position:fixed;
	left:40px;
	top:100px;
}
.div2
{
	position:relative;
	left:100px;
	top:100px;
	width:200px;
	height:150px;
	background:pink;
	float:left;
}

